

.header{
   background: url(/img/header/header.png);
}

 /*{
      width: 35px;
      height: 35px;
      border: 2px solid white;
      display: inline-block;
      border-radius: 100%;

    
   }*/