.footer-top {
  background-color: #f6b03f;
  height: 375px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-top .footer__logo {
  margin-top: 130px;
  margin-left: 100px;
}
.footer-top .information__list {
  margin-top: 75px;
}
.footer-top .information__list .information__list-item {
  font-size: 18px;
  margin-bottom: 20px;
}
.footer-top .information__list .information__list-item .information__list-link {
  color: #6d450c;
}
.footer-top .information__list .information__list-item:first-child {
  font-size: 26px;
  margin-bottom: 45px;
}
.footer-top .payment__list {
  margin-top: 75px;
}
.footer-top .payment__list .payment__list-item {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.footer-top .payment__list .payment__list-item .payment__list-link {
  margin-right: 10px;
}
.footer-top .payment__list .payment__list-item:first-child {
  margin-bottom: 45px;
  font-size: 26px;
}
.footer-top .miss-out {
  margin-right: 100px;
}
.footer-top .miss-out .miss-out__list {
  margin-top: 75px;
}
.footer-top .miss-out .miss-out__list .miss-out__form {
  color: #6d450c;
  font-size: 17px;
  background-color: #ffffff;
  border-width: 0;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  width: 495px;
  height: 60px;
  background-image: url(/img/footer/btnfooterIcon.png);
  background-repeat: no-repeat;
  padding-left: 65px;
  box-sizing: border-box;
  background-position: 25px center;
}
.footer-top .miss-out .miss-out__list .miss-out__form::placeholder {
  color: #6d450c;
}
.footer-top .miss-out .miss-out__list .miss-out__link {
  margin-left: 30px;
}
.footer-top .miss-out .miss-out__list-item:first-child {
  margin-bottom: 45px;
  font-size: 26px;
}
.footer-top .miss-out .miss-out__list-item:last-child {
  font-size: 18px;
  padding-left: 140px;
  margin-top: 15px;
  display: flex;
  align-items: center;
}
.footer-top .miss-out .miss-out__list-item:last-child::before {
  content: url(/img/footer/Arrow\ footer.png);
  padding-right: 20px;
  padding-bottom: 10px;
}
