// main ./../main.less

.our-story__inner {
   height: 880px;
   display: flex;
   justify-content: center;
   align-items: center;

   .our-story__title {
      font-size: 50pt;
      margin-bottom: 60px;
   }

   .our-story__description {
      height: 120px;
      width: 512px;
      font-size: 18px;
      line-height: 35px;
      font-size: 18px;
      margin-bottom: 60px;
      margin-top: 0;
   }
   .our-storybtn__btn {
      width: 300px;
      height: 60px;
      border-width: 0;
      font-size: 18px;
   }
   .our-story__img {
      position: relative;
      right: 40px;
      .our-story__img-text {
         position: relative;
         bottom: 380px;
         left: 130px;
         z-index: 1;
      }
   }
}