// main ./../main.less

.smoothies {
   height: 870px;
   text-align: center;
   display: flex;

   align-items: center;
   flex-direction: column;

   .smoothies__title {
      font-size: 50px;
      letter-spacing: 0px;
      margin-top: 100px;
      line-height: 40px;

   }

   .smoothies__description {
      width: 915px;
      height: 122px;
      line-height: 35px;
      font-size: 18px;
      letter-spacing: 0px;

   }

   .smoothies__table {
      margin-top: 60px;
      border-collapse: collapse;
      border: 2px solid white;

      th,
      td {
         font-size: 25px;
         line-height: 40px;
         width: 240px;
         height: 180px;
         border: 1px solid #f6edde;
      }

   }
}